{% extends 'superuser/base.html' %}
 
{% block content %}

        <form action="" method="post" id="assignPaymentForm" name="" data-invoice-url="{% url 'superuser:ajax_load_invoice' %}" novalidate>
            {% csrf_token %}
            {% comment %} <input type='text' name='branch' value="" id="branch" > {% endcomment %}

            <select id="member" name="member" required class="data">
              <option selected>Member</option>
              {% for member in members %}
              <option value="{{ member.member }}" id="{{ member.id }}">{{ member.member }}</option>
              {% empty %}
              <option value="Gideon K. Impraim" id="member">Gideon K. Impraim</option>
              <option value="Samuel Ofosu" id="member">Samuel Ofosu</option>
              {% endfor %}
          </select>
          <br>
         
          <input type="text" id="branch" name="branch" value="{{ invoice.branch }}" readonly><br>
          <input type="text" id="member_category" name="member_category" value="{{ invoice.member_category }}" readonly><br>
          <input type="text" id="group" name="group" value="{{ invoice.group }}" readonly><br>
          <input type="text" id="subgroup" name="subgroup" value="{{ invoice.subgroup }}" readonly><br>
          
            <select id="fee_type" name="fee_type" required class="data">
              <option value="{{ invoice.fee_type.id }}" id="{{ fee_type.id }}">{{ invoice.fee_type }}</option>
            </select>
            <br>

            <select id="fee_description" name="fee_description" required class="data">
                <option value="{{ invoice.fee_description.id }}" id="{{ fee_description.id }}">{{ invoice.fee_description }}</option>
            </select><br>

            <label for='total_invoice'>Total Invoice</label>
            <input type="text" id="total" value="{{ invoice.total_amount }}" name="total_invoice" placeholder="Enter total invoice...." readonly > 
 

            <p>Installment Payment</p>
            {% for period in period %}
            <input type="radio" name="install_range" value="{{ period.name }}" id="install{{ forloop.counter }}" onchange="radioCheck()">
            <label for="install_range">{{period.name}}</label>
            {% endfor %}

            <div>
            <input type="text" id="period" name="install_period" placeholder="Enter period" disabled>
            </div>

            <label for="start">Set date</label>
            <input type="date" name="set_pay_date" id="set_pay_date"  disabled>
          

            <br>
            <label for="start_date">Start Date</label>
            <input type="date" name="start_date" id="start_date" >
            <br>

            <label for="start_date">End Date</label>
            <input id="end_date" type="date" name="end_date" min="">
            <br>
            <input type="text" id="amount" name="install_amount" placeholder="Enter the amount to be paid" disabled>
<br>
            <select id="account_status" name="account_status" required class="">
              <option selected>Account Status</option>
              <option value="subscriber" id="subscriber">Subscriber</option>
              <option value="non_subscriber" id="non_subscriber">Non Subscriber</option>
            </select>
       <br>
            <input type="submit" value="Assign">
        </form> 

        {% endblock %}