{% extends 'superuser/base.html' %}
 
{% block content %}


        <form action="" method="post" id="myFormID" name="myFormName" data-items-url="{% url 'superuser:ajax_load_items' %}" novalidate>
            {% csrf_token %}
            {% comment %} <input type='text' name='branch' value="" id="branch" > {% endcomment %}

            <select id="branch" name="branch" required >
                <option selected>Branch</option>
                {% for branch in branches %}
                <option value="{{ branch.name }}" id="{{ branch.id }}">{{ branch.name }}</option>
                {% endfor %}
            </select>
<br>
            <select id="member_category" name="member_category" required >
              <option selected>Member Category</option>
              {% for member_category in member_categories %}
              <option value="{{ member_category.category }}" id="{{ member_category.id }}">{{ member_category.category }}</option>
              {% endfor %}
            </select>

            <br>

            <select id="group" name="group" required >
                <option selected>Group</option>
                {% for group in groups %}
                <option value="{{ group.group }}" id="{{ group.id }}">{{ group.group }}</option>
                {% endfor %}
            </select>

            <br>
            <select id="subgroup" name="subgroup" required >
                <option selected>Subgroup</option>
                {% for subgroup in subgroups %}
                <option value="{{ subgroup.subgroup }}" id="{{ subgroup.id }}">{{ subgroup.subgroup }}</option>
                {% endfor %}
            </select>
            <br>

            <select id="fee_type" name="fee_type" required >
            <option selected>Fee Type</option>
            {% for fee_type in fee_type %}
              <option value="{{ fee_type.id }}" id="{{ fee_type.id }}">{{ fee_type.fee_type }}</option>
            {% endfor %}
            </select>
            <br>
          <select id="fee_description" name="fee_description">
            <option selected>Fee Description</option>
            {% for fee_description in fee_description %}
              <option value="{{ fee_description.id }}" >{{ fee_description.fee_description }}</option>
            {% endfor %}
          </select>
<br>
          <label for='fee_items'>Select Fee Items</label>
          <div id="fee_items"></div>
<br>
       
            <input type="submit" value="Submit">
            <br>
            <input type=button value="Previous Page" onClick="javascript:history.go(-1);">
        </form> 

        
          {% endblock %}