{% extends 'superuser/base.html' %}
 
{% block content %}

<form action="" method="post" id="makePaymentForm" name="" data-fee-url="{% url 'superuser:ajax_load_fee' %}"  data-balance-url="{% url 'superuser:ajax_load_balance' %}" novalidate>
    {% csrf_token %}
    {% comment %} <input type='text' name='branch' value="" id="branch" > {% endcomment %}
    <select id="user_member" name="member" required class="data">
      <option selected>Member</option>
      {% for member in members %}
      <option value="{{ member.member }}" id="member{{forloop.counter}}">{{ member.member }}</option>
      {% empty %}
      <option value="Gideon K. Impraim" id="member1">Gideon K. Impraim</option>
      <option value="Samuel Ofosu" id="member2">Samuel Ofosu</option>
      {% endfor %}
  </select>
  <br>
  
    <select id="branch" name="branch" required >
        <option selected>Branch</option>
        {% for branch in branches %}
        <option value="{{ branch.name }}" id="{{ branch.id }}">{{ branch.name }}</option>
        {% endfor %}
      </select>
<br>
    <select id="member_category" name="member_category" required class="data">
      <option selected>Member Category</option>
      {% for member_category in member_categories %}
      <option value="{{ member_category.category }}" id="{{ member_category.id }}">{{ member_category.category }}</option>
      {% endfor %}
    </select>

    <br>

    <select id="group" name="group" required class="data">
        <option selected>Group</option>
        {% for group in groups %}
        <option value="{{ group.group }}" id="{{ group.id }}">{{ group.group }}</option>
        {% endfor %}
    </select>

    <br>
    <select id="subgroup" name="subgroup" required class="data">
        <option selected>Subgroup</option>
        {% for subgroup in subgroups %}
        <option value="{{ subgroup.subgroup }}" id="{{ subgroup.id }}">{{ subgroup.subgroup }}</option>
        {% endfor %}
    </select>
    <br>




    <select id="fee_type" name="fee_type" required class="data">
    <option selected>Fee Type</option>
    </select>
    <br>

    <select id="fee_description" name="fee_description" required class="data">
        <option selected>Fee Description</option>
        {% for fee_description in fee_description %}
          <option value="{{ fee_description.id }}" id="{{ fee_description.id }}">{{ fee_description.fee_description }}</option>
        {% endfor %}
        </select>
    <br>

    
    <label>Payers Details</label><br>
    <input type="text" id="payers_first_name" name="payers_first_name" placeholder="First name..."><br>
    <input type="text" id="payers_last_name" name="payers_last_name" placeholder="Last name..."><br>

    <label></label>
    <input type="tel" id="contact" name="contact" placeholder="Contact"><br>
    <input type="email" id="email" name="email_address" placeholder="Email"><br>
    <textarea id="remarks" name="remarks" placeholder="Remarks..." ></textarea><br>


    <div id='user_type'></div>

    <button>Pay Online</button>
    <button>Pay Offline</button>
    <button>Pay Service Provider</button>

    <p>Send SMS</p>

</form> 
{% endblock%}