{% extends 'superuser/base.html' %}
 
{% block content %}

<a href="/create-currency"><button>Add Currency</button></a>

<table>
    <thead>
        <tr>
            <th>Currency</th>
            <th>Created On</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for currency in currencies %}
        <tr>
            <td>{{currency.currency}}</td>
            <td>{{currency.date_created}}</td>
            <td><a href="{% url 'superuser:editCurrency' id=currency.id %}"><button type="button">Edit</button></a></td>
            <td><a href="{% url 'superuser:deleteCurrency' id=currency.id %}"><button type="button">Delete</button></a></td>

        </tr>
        {% endfor %}

    </tbody>
</table>

    
{% endblock %}